In [15]:
pandas.Series(index=["Data Science Tool", "Anaconda", "Jupyter Notebooks", "R-Studio", "Spyder", "Zepplin"])

<ipython-input-15-09136e01165a>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pandas.Series(index=["Data Science Tool", "Anaconda", "Jupyter Notebooks", "R-Studio", "Spyder", "Zepplin"])

Data Science Tool   NaN
Anaconda            NaN
Jupyter Notebooks   NaN
R-Studio            NaN
Spyder              NaN
Zepplin             NaN
dtype: float64

In [16]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives:
* Add Coments
* Create markdown cells
* Add ordered and unordered list to markdown cells
* Format content of markdown cell with heading styles

## Author(s) 
Stifen Jansia